<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{entity}}</h5>

                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">Desativar Todos</a>
                            </li>
                            <li><a href="#">Apagar todos</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" ng-model="filter" id="filter" placeholder="filtrar">

                    <table class="footable table table-stripped default footable-loaded" data-page-size="8" data-filter="#filter">
                        <thead>
                        <tr>
                            <th class="footable-visible footable-first-column footable-sortable">#Id<span class="footable-sort-indicator"></span></th>
                            <th class="footable-visible footable-sortable">Nome<span class="footable-sort-indicator"></span></th>
                            <th data-hide="phone,tablet" class="footable-visible footable-sortable">Criado<span class="footable-sort-indicator"></span></th>
                            <th data-hide="phone,tablet" class="footable-visible footable-sortable">Editado<span class="footable-sort-indicator"></span></th>
                            <th data-hide="phone,tablet" class="footable-visible footable-last-column footable-sortable">Ações<span class="footable-sort-indicator"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="gradeX footable-even" style="" ng-repeat="item in list | filter:filter">
                            <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>#{{item.id}}</td>
                            <td class="footable-visible">{{item.name}}
                            </td>
                            <td class="footable-visible">{{item.created_at}}</td>
                            <td class="center footable-visible">{{item.updated_at}}</td>
                            <td class="center footable-visible footable-last-column">
	                            <div class="btn-group">
		                            <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle" aria-expanded="false">Ações <span class="caret"></span></button>
		                            <ul class="dropdown-menu">
		     
		                                <li><a href="#">Editar</a></li>
		                                <li><a href="#">Duplicar</a></li>
		                                <li><a href="#">Desativar</a></li>
		                                <li class="divider"></li>
		                                <li><a href="#">Apagar</a></li>
		                            </ul>
		                        </div>
	                        </td>
                        </tr>
                        
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="footable-visible">
                                <ul class="pagination pull-right"><li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page"><a data-page="2" href="#">3</a></li><li class="footable-page"><a data-page="3" href="#">4</a></li><li class="footable-page"><a data-page="4" href="#">5</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>